/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 23, 2025, 1:34:34 PM
    Author     : admin
*/
.main{
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-spacing:10;
    -fx-alignment:CENTER;
}

.Subject{
      -fx-font-size: 40;
      -fx-font-weight: bold;
      -fx-fill:red;
      -fx-stroke:gold;
      -fx-stroke-width:3;
}

.btn{
    -fx-background-color: white;
    -fx-font-size:20;
    -fx-spacing:10;
    -fx-pref-width:200;
}